;;; proxy-config.el --- proxy setting

;;; Commentary:

;;; Code:
(defvar http-proxy-host "YOUR HTTP PROXY HOST")
(defvar https-proxy-host "YOUR HTTPS PROXY HOST")
(defvar no-proxy-host "^\\(localhost\\|10.*\\)")

(provide 'proxy-config)
;;; proxy-config.el ends here
